CallAnalysis_KeywordFlags.json
{
  "name": "CallAnalysis_KeywordFlags",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        992,
        576
      ],
      "id": "c5caa20d-15ee-4ac9-8572-a0580cc7af1a",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "url": "https://rgxmzdwatkgxgzdpmskj.supabase.co/rest/v1/ytel_call_transcripts?analyzed_at=is.null&transcription_status=eq.completed&select=call_key,agent_name,call_date,utterances",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_secret_UQ-Vj8piN3jJ_mdqqYJ27w_wQfph-Cr"
            },
            {
              "name": "Authorization",
              "value": "Bearer sb_secret_UQ-Vj8piN3jJ_mdqqYJ27w_wQfph-Cr"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1424,
        576
      ],
      "id": "7c0c4916-c1de-44d2-a892-9ad483dc3bda",
      "name": "Fetch Unanalyzed Calls1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1664,
        576
      ],
      "id": "a6faa6ab-fe05-4474-a5fd-372f95d11026",
      "name": "Loop Over Calls1"
    },
    {
      "parameters": {
        "url": "https://rgxmzdwatkgxgzdpmskj.supabase.co/rest/v1/call_analysis_rules?active=eq.true&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_secret_UQ-Vj8piN3jJ_mdqqYJ27w_wQfph-Cr"
            },
            {
              "name": "Authorization",
              "value": "Bearer sb_secret_UQ-Vj8piN3jJ_mdqqYJ27w_wQfph-Cr"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1904,
        576
      ],
      "id": "d3d87c3c-c49c-40ac-8a2c-7246e0b4c36f",
      "name": "Fetch Rules1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const call = $('Loop Over Calls1').item.json;\nconst utterances = call.utterances || [];\nconst rules = $('Fetch Rules1').all().map(r => r.json);\n\nconst flags = [];\n\nfor (const rule of rules) {\n  if (!rule.active) continue;\n\n  if (rule.rule_type === 'compliance_required') {\n    const speakerUtterances = rule.speaker\n      ? utterances.filter(u => u.speaker === rule.speaker)\n      : utterances;\n    const found = speakerUtterances.some(u =>\n      rule.keywords.some(kw => (u.text || '').toLowerCase().includes(kw.toLowerCase()))\n    );\n    if (!found) {\n      flags.push({\n        flag_name: rule.flag_name,\n        rule_type: rule.rule_type,\n        severity: rule.severity,\n        matched_keyword: null,\n        speaker: rule.speaker,\n        utterance_index: null\n      });\n    }\n    continue;\n  }\n\n  for (let i = 0; i < utterances.length; i++) {\n    const u = utterances[i];\n    if (rule.speaker && u.speaker !== rule.speaker) continue;\n    const text = (u.text || '').toLowerCase();\n    for (const kw of rule.keywords) {\n      if (text.includes(kw.toLowerCase())) {\n        flags.push({\n          flag_name: rule.flag_name,\n          rule_type: rule.rule_type,\n          severity: rule.severity,\n          matched_keyword: kw,\n          speaker: u.speaker,\n          utterance_index: i\n        });\n        break;\n      }\n    }\n  }\n}\n\nconst hasComplianceIssue = flags.some(f => f.rule_type.startsWith('compliance'));\nconst analyzedAt = new Date().toISOString();\n\nconst transcript_formatted = utterances\n  .map(u => (u.speaker === 'A' ? 'Agent' : 'Lead') + ': ' + (u.text || ''))\n  .join('\\n');\n\nreturn [{\n  json: {\n    call_key: call.call_key,\n    flags,\n    has_compliance_issue: hasComplianceIssue,\n    agent_sentiment_ok: !flags.some(f => f.rule_type === 'sentiment_agent'),\n    analyzed_at: analyzedAt,\n    transcript_formatted\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        576
      ],
      "id": "a0ec45fb-e732-479f-8293-d5e5f7a9efa8",
      "name": "Analyze Call1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemma4:latest",
          "mode": "list",
          "cachedResultName": "gemma4:latest"
        },
        "messages": {
          "values": [
            {
              "content": "=whats the outcome of this call return one of these \nnot_interested — lead shut it down\ncallback_requested — lead wants to talk later\nstrong_interest — lead is engaged, wants to move forward\nappointment_set — booking was made\ndnc — lead asked to be removed or placed on do not call list\ncall_dropped — call ended abruptly mid-conversation with no clear resolution\nno_signal — can't tell / neutral\n\nRespond with ONLY the label, nothing else.\n\n{{ $json.transcript_formatted }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        2336,
        416
      ],
      "id": "a9465810-5d73-490f-9aed-005a3763b111",
      "name": "Message a model",
      "credentials": {
        "ollamaApi": {
          "id": "7tkS6ax8x425Av3A",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const analysis = $('Analyze Call1').item.json;\nconst raw = ($input.first().json.content || '').toLowerCase().replace(/_/g, ' ');\n\nconst validOutcomes = ['not_interested','callback_requested','strong_interest','appointment_set','dnc','call_dropped','no_signal'];\nconst outcome = (validOutcomes.find(o => raw.includes(o.replace(/_/g,' '))) || 'no_signal').replace(/ /g,'_');\n\nconst patch_body = JSON.stringify({\n  analysis_flags: analysis.flags,\n  analysis_summary: {\n    compliance_pass: !analysis.has_compliance_issue,\n    agent_sentiment_ok: analysis.agent_sentiment_ok,\n    outcome,\n    flag_count: analysis.flags.length\n  },\n  analyzed_at: analysis.analyzed_at\n});\n\nreturn [{ json: { call_key: analysis.call_key, patch_body } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2624,
        576
      ],
      "id": "d73216c8-bdfc-413f-94ec-07b97565c80d",
      "name": "Merge Outcome1"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://rgxmzdwatkgxgzdpmskj.supabase.co/rest/v1/ytel_call_transcripts?call_key=eq.{{ $json.call_key }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_secret_UQ-Vj8piN3jJ_mdqqYJ27w_wQfph-Cr"
            },
            {
              "name": "Authorization",
              "value": "Bearer sb_secret_UQ-Vj8piN3jJ_mdqqYJ27w_wQfph-Cr"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "=={{ $json.patch_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2864,
        576
      ],
      "id": "35013f52-8048-4d1d-9f1d-df75b60282bf",
      "name": "Update Supabase Row1",
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Fetch Unanalyzed Calls1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unanalyzed Calls1": {
      "main": [
        [
          {
            "node": "Loop Over Calls1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Calls1": {
      "main": [
        [],
        [
          {
            "node": "Fetch Rules1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Rules1": {
      "main": [
        [
          {
            "node": "Analyze Call1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Call1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Merge Outcome1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Outcome1": {
      "main": [
        [
          {
            "node": "Update Supabase Row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Supabase Row1": {
      "main": [
        [
          {
            "node": "Loop Over Calls1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4e80437e-05f1-4309-9f1f-1089ea638c4a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "07dd4f143144583eff56c81a9a77b4e0a223bff7e3e5b44f2df482de13037f17"
  },
  "nodeGroups": [],
  "id": "RHSZb9c5tyu1Adu5",
  "tags": []
}