CallAnalysis_KeywordFlags.json
{
  "name": "CallAnalysis_KeywordFlags",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-400, 0],
      "id": "aa000001-0000-0000-0000-000000000001",
      "name": "Run Analysis"
    },
    {
      "parameters": {
        "url": "https://rgxmzdwatkgxgzdpmskj.supabase.co/rest/v1/ytel_call_transcripts?analyzed_at=is.null&transcription_status=eq.completed&select=call_key,agent_name,call_date,utterances",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "sb_secret_UQ-Vj8piN3jJ_mdqqYJ27w_wQfph-Cr" },
            { "name": "Authorization", "value": "Bearer sb_secret_UQ-Vj8piN3jJ_mdqqYJ27w_wQfph-Cr" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-160, 0],
      "id": "aa000001-0000-0000-0000-000000000002",
      "name": "Fetch Unanalyzed Calls",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [80, 0],
      "id": "aa000001-0000-0000-0000-000000000003",
      "name": "Loop Over Calls"
    },
    {
      "parameters": {
        "url": "https://rgxmzdwatkgxgzdpmskj.supabase.co/rest/v1/call_analysis_rules?active=eq.true&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "sb_secret_UQ-Vj8piN3jJ_mdqqYJ27w_wQfph-Cr" },
            { "name": "Authorization", "value": "Bearer sb_secret_UQ-Vj8piN3jJ_mdqqYJ27w_wQfph-Cr" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [320, 0],
      "id": "aa000001-0000-0000-0000-000000000004",
      "name": "Fetch Rules",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const call = $('Loop Over Calls').item.json;\nconst utterances = call.utterances || [];\nconst rules = $('Fetch Rules').all().map(r => r.json);\n\nconst flags = [];\n\nfor (const rule of rules) {\n  if (!rule.active) continue;\n\n  if (rule.rule_type === 'compliance_required') {\n    const speakerUtterances = rule.speaker\n      ? utterances.filter(u => u.speaker === rule.speaker)\n      : utterances;\n    const found = speakerUtterances.some(u =>\n      rule.keywords.some(kw => (u.text || '').toLowerCase().includes(kw.toLowerCase()))\n    );\n    if (!found) {\n      flags.push({\n        flag_name: rule.flag_name,\n        rule_type: rule.rule_type,\n        severity: rule.severity,\n        matched_keyword: null,\n        speaker: rule.speaker,\n        utterance_index: null\n      });\n    }\n    continue;\n  }\n\n  for (let i = 0; i < utterances.length; i++) {\n    const u = utterances[i];\n    if (rule.speaker && u.speaker !== rule.speaker) continue;\n    const text = (u.text || '').toLowerCase();\n    for (const kw of rule.keywords) {\n      if (text.includes(kw.toLowerCase())) {\n        flags.push({\n          flag_name: rule.flag_name,\n          rule_type: rule.rule_type,\n          severity: rule.severity,\n          matched_keyword: kw,\n          speaker: u.speaker,\n          utterance_index: i\n        });\n        break;\n      }\n    }\n  }\n}\n\nconst hasComplianceIssue = flags.some(f => f.rule_type.startsWith('compliance'));\nconst analyzedAt = new Date().toISOString();\n\n// Format transcript for Ollama: \"Agent: ...\", \"Lead: ...\"\nconst transcript_formatted = utterances\n  .map(u => (u.speaker === 'A' ? 'Agent' : 'Lead') + ': ' + (u.text || ''))\n  .join('\\n');\n\nreturn [{\n  json: {\n    call_key: call.call_key,\n    flags,\n    has_compliance_issue: hasComplianceIssue,\n    agent_sentiment_ok: !flags.some(f => f.rule_type === 'sentiment_agent'),\n    analyzed_at: analyzedAt,\n    transcript_formatted\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 0],
      "id": "aa000001-0000-0000-0000-000000000005",
      "name": "Analyze Call"
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "llama3.2"
        },
        "messages": {
          "values": [
            {
              "content": "={{ 'You are a call analysis assistant. Read this call transcript between an Agent and a Lead. Classify the call outcome using ONLY one of these exact labels:\\nnot_interested\\ncallback_requested\\nstrong_interest\\nappointment_set\\nno_signal\\n\\nRespond with ONLY the label, nothing else.\\n\\nTranscript:\\n' + $json.transcript_formatted }}",
              "role": "user"
            }
          ]
        },
        "simplifyOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [800, 0],
      "id": "aa000001-0000-0000-0000-000000000007",
      "name": "Ollama - Classify Outcome",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const analysis = $('Analyze Call').item.json;\nconst raw = ($json.message?.content || $json.response || $json.text || '').trim().toLowerCase().replace(/[^a-z_]/g, '');\n\nconst validOutcomes = ['not_interested','callback_requested','strong_interest','appointment_set','no_signal'];\nconst outcome = validOutcomes.includes(raw) ? raw : 'no_signal';\n\nconst patch_body = JSON.stringify({\n  analysis_flags: analysis.flags,\n  analysis_summary: {\n    compliance_pass: !analysis.has_compliance_issue,\n    agent_sentiment_ok: analysis.agent_sentiment_ok,\n    outcome,\n    flag_count: analysis.flags.length\n  },\n  analyzed_at: analysis.analyzed_at\n});\n\nreturn [{ json: { call_key: analysis.call_key, patch_body } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 0],
      "id": "aa000001-0000-0000-0000-000000000008",
      "name": "Merge Outcome"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://rgxmzdwatkgxgzdpmskj.supabase.co/rest/v1/ytel_call_transcripts?call_key=eq.{{ $json.call_key }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "sb_secret_UQ-Vj8piN3jJ_mdqqYJ27w_wQfph-Cr" },
            { "name": "Authorization", "value": "Bearer sb_secret_UQ-Vj8piN3jJ_mdqqYJ27w_wQfph-Cr" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "contentType": "rawBody",
        "rawContentType": "application/json",
        "body": "={{ $json.patch_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1280, 0],
      "id": "aa000001-0000-0000-0000-000000000006",
      "name": "Update Supabase Row",
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Run Analysis": {
      "main": [[{ "node": "Fetch Unanalyzed Calls", "type": "main", "index": 0 }]]
    },
    "Fetch Unanalyzed Calls": {
      "main": [[{ "node": "Loop Over Calls", "type": "main", "index": 0 }]]
    },
    "Loop Over Calls": {
      "main": [
        [],
        [{ "node": "Fetch Rules", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Rules": {
      "main": [[{ "node": "Analyze Call", "type": "main", "index": 0 }]]
    },
    "Analyze Call": {
      "main": [[{ "node": "Ollama - Classify Outcome", "type": "main", "index": 0 }]]
    },
    "Ollama - Classify Outcome": {
      "main": [[{ "node": "Merge Outcome", "type": "main", "index": 0 }]]
    },
    "Merge Outcome": {
      "main": [[{ "node": "Update Supabase Row", "type": "main", "index": 0 }]]
    },
    "Update Supabase Row": {
      "main": [[{ "node": "Loop Over Calls", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "07dd4f143144583eff56c81a9a77b4e0a223bff7e3e5b44f2df482de13037f17"
  },
  "nodeGroups": [],
  "tags": []
}
