CallAnalysis_KeywordFlags.json
{
  "name": "CallAnalysis_KeywordFlags",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-400, 0],
      "id": "aa000001-0000-0000-0000-000000000001",
      "name": "Run Analysis"
    },
    {
      "parameters": {
        "url": "https://rgxmzdwatkgxgzdpmskj.supabase.co/rest/v1/ytel_call_transcripts?analyzed_at=is.null&transcription_status=eq.completed&select=call_key,agent_name,call_date,utterances",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "sb_secret_UQ-Vj8piN3jJ_mdqqYJ27w_wQfph-Cr" },
            { "name": "Authorization", "value": "Bearer sb_secret_UQ-Vj8piN3jJ_mdqqYJ27w_wQfph-Cr" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [-160, 0],
      "id": "aa000001-0000-0000-0000-000000000002",
      "name": "Fetch Unanalyzed Calls",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [80, 0],
      "id": "aa000001-0000-0000-0000-000000000003",
      "name": "Loop Over Calls"
    },
    {
      "parameters": {
        "url": "https://rgxmzdwatkgxgzdpmskj.supabase.co/rest/v1/call_analysis_rules?active=eq.true&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "sb_secret_UQ-Vj8piN3jJ_mdqqYJ27w_wQfph-Cr" },
            { "name": "Authorization", "value": "Bearer sb_secret_UQ-Vj8piN3jJ_mdqqYJ27w_wQfph-Cr" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [320, 0],
      "id": "aa000001-0000-0000-0000-000000000004",
      "name": "Fetch Rules",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Pull call data and rules\nconst call = $('Loop Over Calls').item.json;\nconst utterances = call.utterances || [];\nconst rules = $('Fetch Rules').all().map(r => r.json);\n\nconst flags = [];\n\nfor (const rule of rules) {\n  if (!rule.active) continue;\n\n  // For compliance_required: flag if NO utterance from the required speaker contains ANY keyword\n  if (rule.rule_type === 'compliance_required') {\n    const speakerUtterances = rule.speaker\n      ? utterances.filter(u => u.speaker === rule.speaker)\n      : utterances;\n    const found = speakerUtterances.some(u =>\n      rule.keywords.some(kw => (u.text || '').toLowerCase().includes(kw.toLowerCase()))\n    );\n    if (!found) {\n      flags.push({\n        flag_name: rule.flag_name,\n        rule_type: rule.rule_type,\n        severity: rule.severity,\n        matched_keyword: null,\n        speaker: rule.speaker,\n        utterance_index: null\n      });\n    }\n    continue;\n  }\n\n  // For all other rule types: flag each utterance where a keyword IS found\n  for (let i = 0; i < utterances.length; i++) {\n    const u = utterances[i];\n    if (rule.speaker && u.speaker !== rule.speaker) continue;\n    const text = (u.text || '').toLowerCase();\n    for (const kw of rule.keywords) {\n      if (text.includes(kw.toLowerCase())) {\n        flags.push({\n          flag_name: rule.flag_name,\n          rule_type: rule.rule_type,\n          severity: rule.severity,\n          matched_keyword: kw,\n          speaker: u.speaker,\n          utterance_index: i\n        });\n        break; // one flag per rule per utterance max\n      }\n    }\n  }\n}\n\n// Build summary\nconst hasComplianceIssue = flags.some(f => f.rule_type.startsWith('compliance'));\nconst outcomeFlags = flags.filter(f => f.rule_type === 'outcome').map(f => f.flag_name);\nconst outcome = outcomeFlags.length ? outcomeFlags[0] : 'no_signal';\n\nreturn [{\n  json: {\n    call_key: call.call_key,\n    analysis_flags: flags,\n    analysis_summary: {\n      compliance_pass: !hasComplianceIssue,\n      agent_sentiment_ok: !flags.some(f => f.rule_type === 'sentiment_agent'),\n      outcome,\n      flag_count: flags.length\n    },\n    analyzed_at: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 0],
      "id": "aa000001-0000-0000-0000-000000000005",
      "name": "Analyze Call"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://rgxmzdwatkgxgzdpmskj.supabase.co/rest/v1/ytel_call_transcripts?call_key=eq.{{ $json.call_key }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "sb_secret_UQ-Vj8piN3jJ_mdqqYJ27w_wQfph-Cr" },
            { "name": "Authorization", "value": "Bearer sb_secret_UQ-Vj8piN3jJ_mdqqYJ27w_wQfph-Cr" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "contentType": "rawBody",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ analysis_flags: JSON.parse(JSON.stringify($json.analysis_flags)), analysis_summary: $json.analysis_summary, analyzed_at: $json.analyzed_at }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [800, 0],
      "id": "aa000001-0000-0000-0000-000000000006",
      "name": "Update Supabase Row",
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Run Analysis": {
      "main": [[{ "node": "Fetch Unanalyzed Calls", "type": "main", "index": 0 }]]
    },
    "Fetch Unanalyzed Calls": {
      "main": [[{ "node": "Loop Over Calls", "type": "main", "index": 0 }]]
    },
    "Loop Over Calls": {
      "main": [
        [],
        [{ "node": "Fetch Rules", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Rules": {
      "main": [[{ "node": "Analyze Call", "type": "main", "index": 0 }]]
    },
    "Analyze Call": {
      "main": [[{ "node": "Update Supabase Row", "type": "main", "index": 0 }]]
    },
    "Update Supabase Row": {
      "main": [[{ "node": "Loop Over Calls", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "07dd4f143144583eff56c81a9a77b4e0a223bff7e3e5b44f2df482de13037f17"
  },
  "nodeGroups": [],
  "tags": []
}
